packaging
Pillow
platformdirs
pluggy
protobuf
py
pycparser
pyjokes
pyOpenSSL
pyparsing
PySocks
pytest
python-dateutil
rfc3986
six
slack-bolt
slack-sdk
sniffio
sortedcontainers
tekore
tomli
tomlkit
trio
trio-websocket
typing_extensions
urllib3
wrapt
wsproto
yarl
pylint
pygame
pandas
plotly
statsmodels
moviepy
opencv-python
pyyaml
yamllint
python-docx
tk
beautifulsoup4
python-magic
pillow
importlib-metadata
ansible
RedDownloader
BeautifulSoup4
python-magic
phonenumbers
mysql-connector-python
psutil
wikipedia
configparser
kivymd
openpyxl
faker
dumper
pokebase
wifi-qrcode-generator
python-pptx
pdf2docx
pypdf2
pyautogui
git+https://github.com/jamalex/notion-py.git@refs/pull/294/merge
instagrapi
matplotlib
yagmail
pyttsx3
speechrecognition
pywhatkit
sounddevice
soundfile
folium
osmnx
networkx
countryinfo
geocoder
hexy
#PyQt5
#PyQt5-sip
#PyQtWebEngine
discord.py
selenium
#wxPython