packaging==21.3
Pillow==9.1.1
platformdirs==2.5.2
pluggy==1.0.0
protobuf==4.21.1
py==1.11.0
pycparser==2.21
pyjokes==0.6.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
PySocks==1.7.1
pytest==7.1.2
python-dateutil==2.8.2
rfc3986==1.5.0
six==1.16.0
slack-bolt==1.14.0
slack-sdk==3.17.2
sniffio==1.2.0
sortedcontainers==2.4.0
tekore==4.4.0
tomli==2.0.1
tomlkit==0.11.0
trio==0.21.0
trio-websocket==0.9.2
typing_extensions==4.2.0
urllib3==1.26.9
wrapt==1.14.1
wsproto==1.1.0
yarl==1.7.2
pylint
pygame
pandas
plotly
statsmodels
moviepy
opencv-python
pyyaml
yamllint
python-docx
tk
beautifulsoup4
python-magic
pillow
importlib-metadata
ansible
RedDownloader
BeautifulSoup4
python-magic
phonenumbers
mysql-connector-python
psutil
wikipedia
configparser
kivymd
openpyxl
faker
dumper
pokebase
wifi-qrcode-generator
python-pptx
pdf2docx
pypdf2
pyautogui
git+https://github.com/jamalex/notion-py.git@refs/pull/294/merge
instagrapi
matplotlib
yagmail
pyttsx3
speechrecognition
pywhatkit
sounddevice
soundfile